@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-image: linear-gradient(
    to right,
    rgb(248, 220, 171),
    rgb(241, 234, 221),
    rgb(248, 220, 171)
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}